<div class="jumbotron">
    <h1 class="text-center">Pictures Pic</h1>
</div>
<div class="container">
    <p *ngIf="message.length" class="alert alert-info">{{message}}</p>
    <div class="row">
        <div class="col-md-12">
            <form>
                <div class="input-group">
                <span class="input-group-btn">
                    <a [routerLink]="['/register']" class="btn btn-primary">
                        New Picture
                    </a>
                </span>
                    <input #seachText (keyup)="0" class="form-control" placeholder="Filter picture">
                </div>
            </form>
        </div>
    </div>
    <br>
    <div class="row">
        <panel *ngFor="let picture of pictures | titleFilter: seachText.value" titulo="{{picture.titulo | uppercase}}"
               class="col-md-2">
            <picture url="{{picture.url}}" title="{{picture.titulo}}"></picture>
            <button class="btn btn-danger btn-block" (click)="remove(picture)">Remove</button>
        </panel>
    </div>
</div>